<nav class="navbar navbar-expand-lg navbar-light bg-primary animate__animated animate__bounceInDown">
   <div class="container-fluid">
     <button class="navbar-toggler bg-blue-400" type="button" onclick="openSide()">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item px-2 py-2">
            <button type="button" class="btn btn-outline-primary text-light" onclick="openSide()"><i class="fas fa-bars"></i>&nbsp; Menu</button>
         </li>
      </ul>
     </div>
   </div>
 </nav>