
<div id="mySidebar" class="left-menu">
   <a href="javascript:void(0)" class="close-btn" onclick="closeSide()">×</a>
   <a href="/"><i class="fas fa-home mx-2" onclick="closeSide()"></i>Home</a>
 </div>